<div class="topbar">
  <div class="container">
    <span>📧 info@ardaascables.com</span>
    <span>📍 Saharanpur, India</span>
  </div>
</div>

<header class="main-header">
  <base href="/my-website/">

  <div class="container navbar">

    <a href="/index.html" class="logo">
      <img src="/images/ardaas-cables-logo.svg">
    </a>

    <ul class="menu">
      <li><a href="/index.html">Home</a></li>

     <li class="has-mega">
  <a href="#" id="mobileProductsToggle">Products ▾</a>


        <div class="mega-menu">
  <div class="mega-inner">

    <a href="/products/ptfe-hookup-wire.html">PTFE Hook Up Wire</a>
    <a href="/products/ptfe-multicore-cable.html">PTFE Multicore Cable</a>
    <a href="/products/ptfe-high-temp-cable.html">PTFE High Temp Cable</a>
    <a href="/products/ptfe-thermocouple.html">PTFE Thermocouple Cable</a>

    <a href="/products/ptfe-control-cable.html">PTFE Control Cable</a>
    <a href="/products/ptfe-high-voltage.html">PTFE High Voltage Cable</a>
    <a href="/products/ptfe-battery-wire.html">PTFE Battery Wire</a>
    <a href="/products/ptfe-sleeves.html">PTFE Sleeves</a>

    <a href="/products/fibre-glass-wire.html">Fibre Glass Wire</a>
    <a href="/products/heat-resistant-wire.html">Heat Resistant Wire</a>
    <a href="/products/fep-cable.html">FEP Cable</a>
    <a href="/products/rg-cables.html">RG Cables</a>

  </div>
</div>

      </li>

      <li><a href="/about.html">About</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>

    <a href="/contact.html" class="btn btn-primary">Send Enquiry</a>

    <div id="hamburger">☰</div>

  </div>
</header>
