<div class="topbar">
  <div class="container">
    <span>📧 info@ardaascables.com</span>
    <span>📍 Saharanpur, India</span>
  </div>
</div>

<header class="main-header">
 

  <div class="container navbar">

    <a href="index.html" class="logo">
      <img src="images/ardaas-cables-logo.svg">
    </a>

    <ul class="menu">
      <li><a href="index.html">Home</a></li>

     <li class="has-mega">
  <a href="products.html" id="mobileProductsToggle">Products ▾</a>



        <div class="mega-menu">
  <div class="mega-inner">

   <a href="products.html#ptfe-hookup">PTFE Hook Up Wire</a>
<a href="products.html#ptfe-multicore">PTFE Multicore Cable</a>
<a href="products.html#ptfe-high-temp">PTFE High Temperature Cable</a>
<a href="products.html#ptfe-thermocouple">PTFE Thermocouple Cable</a>
<a href="products.html#ptfe-control">PTFE Control Cable</a>
<a href="products.html#ptfe-high-voltage">PTFE High Voltage Cable</a>
<a href="products.html#ptfe-battery">PTFE Battery Wire</a>
<a href="products.html#ptfe-sleeves">PTFE Sleeves</a>

<a href="products.html#fiberglass-wire">Fibre Glass Heating Wire</a>
<a href="products.html#heat-wire">Heat Resistant Wire</a>
<a href="products.html#heat-cable">Heat Resistant Cable</a>

<a href="products.html#fep-high-temp">FEP High Temperature Wire</a>
<a href="products.html#fep-thermocouple">FEP Thermocouple Cable</a>
<a href="products.html#fep-control">FEP Control Cable</a>
<a href="products.html#fep-ev">FEP EV Cable</a>
<a href="products.html#fep-battery">FEP Battery Wire</a>

<a href="products.html#rg178">RG 178 Cable</a>
<a href="products.html#rg179">RG 179 Cable</a>
<a href="products.html#rg188">RG 188 Cable</a>


  </div>
</div>

      </li>

      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>

    <a href="contact.html" class="btn btn-primary">Send Enquiry</a>

    <div id="hamburger">☰</div>

  </div>
</header>
