<header class="main-header">
  <div class="top-bar">
    <span><i class="fa-solid fa-envelope"></i> info@ardaascables.com</span>
    <span><i class="fa-solid fa-location-dot"></i>178, Sidki, Nagal, Saharanpur-247551</span>
  </div>
  <div class="nav-container">
    <div class="logo">Ardaas Cables</div>
    <div id="hamburger" class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </div>
    <nav id="navMenu">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li class="has-mega">
          <a href="products.html" id="productsToggle">Products</a>
         <div class="mega-menu">
  <div class="mega-grid">
    <a href="products.html">PTFE HOOK UP WIRE</a>
    <a href="ptfe-high-temp.html">PTFE MULTICORE CABLE</a>
    <a href="products.html">PTFE HIGH TEMPERATURE CABLE</a>
    <a href="products.html">PTFE THERMOCOUPLE CABLE</a>

    <a href="products.html">PTFE CONTROL CABLE</a>
    <a href="products.html">PTFE HIGH VOLTAGE CABLE</a>
    <a href="products.html">PTFE BATTERY WIRE</a>
    <a href="products.html">PTFE SLEEVES</a>

    <a href="products.html">FIBRE GLASS HEATING WIRE</a>
    <a href="products.html">HEAT RESISTANT WIRE</a>
    <a href="products.html">HEAT RESISTANT CABLE</a>
    <a href="products.html">FEP HIGH TEMPERATURE WIRE</a>

    <a href="products.html">FEP THERMOCOUPLE CABLE</a>
    <a href="products.html">FEP CONTROL CABLE</a>
    <a href="products.html">FEP EV CABLE</a>
    <a href="products.html">FEP BATTERY WIRE</a>

    <a href="products.html">RG 178 CABLE</a>
    <a href="products.html">RG 179 CABLE</a>
    <a href="products.html">RG 188 CABLE</a>
  </div>
</div>

        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>